header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  .nav-items {
    display: flex;
    gap: 75px;
    margin-left: 436px;
    margin-top: -32px;
    p {
      color: #000;
      &:hover {
        color: #ccc;
      }
    }
  }
  .nav-btns {
    display: flex;
    gap: 48px;
    margin-left: 200px;
  }
}
